{
  "jira": {
    "env": "QA",
    "username": "usuario@ejemplo.com",
    "password": "TU_PASSWORD_O_TOKEN"
  },
  "setup": {
    "test_plan_key": "QAX-100",
    "execution_summary": "Ejecución Regresión Sprint",
    "test_mode": "clone"
  },
  "sync": {
    "execution_key": "QAX-200",
    "folder": "./evidencias",
    "status": "PASS",
    "recursive": true,
    "upload_mode": "append",
    "allowed_extensions": [".pdf", ".png", ".jpg"]
  }
}
